@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #06080e;
  --foreground: #f8fafc;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #06080e;
  color: #f8fafc;
  user-select: none;
}
